{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img 
        src="{% static 'img/logo.png' %}" 
        width="30" 
        height="30" 
        class="d-inline-block align-top" 
        alt=""
        >
        <span style="color:red">Ya</span>tube
      </a>
      {% with request.resolver_match.view_name as view_name %}
       <ul class="nav nav-pills">  
        <li class="nav-item">              
          <a class="nav-link 
            {% if view_name  == 'posts:index' %} active {% endif %}"
            href="{% url 'posts:index' %}">
            Главная
          </a>
        </li> 
        <li class="nav-item"> 
              <a class="nav-link
                {% if view_name  == 'about:me' %} active {% endif %}"
                href="{% url 'about:me' %}">
                Об авторе
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link
                {% if view_name  == 'about:tech' %} active {% endif %}"
                href="{% url 'about:tech' %}">
                Технологии
              </a>
            </li>
          {% if user.is_authenticated %}
            <li class="nav-item"> 
              <a class="nav-link link-light
                {% if view_name  == 'users:password_change_form' %} active {% endif %}"
                href="{% url 'users:password_change_form' %}">
                Изменить пароль
              </a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link link-light" href="{% url 'users:logout' %}">
                Выйти
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                Пользователь: {{ user.username }}
              </a>
            </li>
          {% else %}
            <li class="nav-item"> 
              <a class="nav-link link-light" href="{% url 'users:login' %}">
                Войти
              </a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link link-light" href="{% url 'users:signup' %}">
                Регистрация
              </a>
            </li>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>